<div class="form-header">
  User Form
</div>
<div class="form-container">
  
  <mat-form-field appearance="fill" >
    <mat-label>First Name</mat-label>
    <input  matInput {{selectedUser}}> 
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Middle Name</mat-label>
    <input  matInput> 
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input  matInput> 
  </mat-form-field>
  
  <div class="button-container">
  
    <button mat-raised-button color="primary">
      Save
    </button>
  
    <button routerLink="/user" mat-raised-button color="accent">
      Back
    </button>
  
  </div>

</div>
