
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  button {
    width: 45%;
  }
}

.form-header {
  font-size: 48px;
  margin: 32px 32px 48px 32px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 32px 32px;
  width: 20%;
}
