@import 'src/stylesheets/variables.scss';

.header {
  background-color: $color-accent-1;
  font-size: 56px;
  font-weight: bolder;
  padding: 72px 32px;
  text-align: center;
}

.footer {
  background-color: $color-accent-1;
}

