<div class="user-header">
  User Search
</div>
<div class="mat-elevation-z8 user-table">
  <!-- Filter -->
  <mat-form-field class="user-filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <!-- Table -->
  <table mat-table [dataSource]="tableSource" matSort>
    <!-- Declare Fields -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let i">{{ i.name }}</td>
    </ng-container>
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
      <td mat-cell *matCellDef="let i">{{ i.updated }}</td>
    </ng-container>

    <!-- Print Fields -->
    <tr mat-header-row *matHeaderRowDef="tableFields"></tr>
    <tr mat-row *matRowDef="let row; columns: tableFields" tabindex="0"
        (click)="clickedRow(row)"></tr>

    <!-- No Match -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <!-- Loading -->
  <div *ngIf="state == null" class="user-loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<!-- Button Nav -->
<div class="button-container">

  <button routerLink="/user/form" mat-raised-button color="primary">
    Create
  </button>
  
  <button routerLink="/user/form/" mat-raised-button color="warn">
    Edit
  </button>
  
  <button mat-raised-button color="disabled">
    Delete
  </button>
  
  <button routerLink="/" mat-raised-button color="accent">
    Back
  </button>
</div>
