@import "src/stylesheets/variables";

mat-spinner {
  background-color: $color-accent-1;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  font-size: 18px;
}

td {
  font-size: 14px;
}

tr:hover {
  background-color: $color-accent-1;
}

tr:focus {
  background-color: $color-accent-1;
}

.button-container {
  margin: 48px 32px 32px 32px;

  button {
    margin-right: 16px;
    width: 9%;
  }
}

.user-filter {
  margin-left: 1em;
}

.user-header {
  font-size: 48px;
  margin: 32px 32px 48px 32px;
}

.user-table {
  font-size: 20px;
  margin: 2em auto;
  width: 85%;
}

.user-loading {
  margin: 3% 44%;
}
