
$color-accent-1: #FF8552;
$color-accent-2: #297373;
$color-accent-3: #85FFC7;
$color-background-1: #E6E6E6;
$color-background-2: #39393A;

body {
  background-color: $color-background-1;
  margin: 0;
}
